/lain.support.js
*.js
!archive-*.js
!Atlas.js
!FanSky_Qs.js
!GT-Manual-Plugin.js
!Guoba-Plugin.js
!StarRail-plugin.js
!ZZZ-Plugin.js
!achievements-plugin.js
!auto-plugin.js
!chatgpt-plugin.js
!genshin.js
!hs-qiqi-plugin.js
!lain-plugin.js
!miao-plugin.js
!unnamed-plugin.js
!windoge-plugin.js
!waves-plugin.js
!ws-plugin.js
!xiaofei-plugin.js
!xiaoyao-cvs-plugin.js
!xiaoye-plugin.js
!yenai-plugin.js
